.login-page {
  width: auto;
  height: auto;
  font-family: "Lato", sans-serif;
  font-style: normal;

  h1 {
    font-size: 100px;
    color: dimgrey;
  }

  h3 {
    font-size: 50px;
    color: dimgrey;
    margin-top: 7%;
  }

  button:hover {
    transition: all 200ms ease-in;
    transform: scale(1.2);
  }
}

.text-align-center {
  text-align: center;
}

.text-color {
  color: whitesmoke;
}

.margin-top {
  margin-top: 15%;
}

.kep-login-facebook {
  width: 97px;
  padding-top: 11px !important;
  height: 47px;
  float: right;
  cursor: pointer;
  border-radius: 4px !important;
}
